html {
	
}

body {
	background-color: black;
	color: white;
	text-align: center;
}

.header-text {
	font-family: Verdana;
	font-weight: normal;
	font-size: 50px;
}

.second-text {
	font-family: Verdana;
	font-weight: 300;
	font-size: 42px;
}

.normal-text {
	font-family: Verdana;
	color: gray;
	font-size: 21px;
}

.download-msg {
	color: aquamarine;
	font-size: 16px;
}

#phone-image-container {
	padding: 15px;
}

#copyright {
	text-align: right;
	color: gray;
	font-size: 19px;
	padding-right: 15px;
}